---
BasedOnStyle: Google

Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 80
ContinuationIndentWidth: 4
AccessModifierOffset: -2
IndentCaseLabels: false
IndentPPDirectives: BeforeHash

SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: After

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

NamespaceIndentation: Inner

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment

AlignTrailingComments: true
CommentPragmas: "^ IWYU"

# IncludeBlocks: Regroup
# IncludeCategories:
#   - Regex: '^<.*\.h'
#     Priority: 1
#   - Regex: "^<.*"
#     Priority: 2
#   - Regex: ".*"
#     Priority: 3
SortIncludes: true

BinPackArguments: true
BinPackParameters: true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakAssignment: 200
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

# C++ 特有设置
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: true
Standard: Auto

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AlignOperands: true # 对齐数学运算符，便于阅读
AlignAfterOpenBracket: Align # 对齐函数参数和数组初始化
---

